/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/



* {
	margin: 0;
	padding: 0;
}

div {
	display:block;
}

#top {
	position: fixed;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	height: 50px;
	z-index:9;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	
}

#logo {
	float:left;
	margin-top: 8px;
	width: 255px;
	height: 34px;
	background: url('testlogo.png') no-repeat;
}

#header_inner {
	margin-left: auto;
	margin-right:auto;
	width: 960px;
	height:50px;
}

#navcontainer {
	z-index: 1001;
	float:left;
	position:relative;
	width:275px;
	height:50px;
	text-align: center;
}

#navcontainer ul{
	margin-top:5px;
	list-style: none;
	height:45px;
}

#navcontainer ul li{
	display:inline-block;
	padding: 0 10px 0 10px;
	line-height: 45px;
}

#navcontainer ul li a{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

#navcontainer ul li.active {
	background: #00AA72;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,1);
}


#navcontainer ul li.active a{
	color:  white;
}

#navcontainer ul li a:hover {
	color:black;
	cursor: pointer;
}

#navcontainer ul li.active a:hover{
	color:white;
	cursor: pointer;

}

#navcontainer ul li.active:hover{
	color:white;
	background: #00AA72;
	cursor: pointer;

}

#navcontainer ul li:hover {
	color:black;
	background: rgba(0,170,114,.1);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}



#navcontainer li a { 
	margin:0px;
	display:block;
	height:100%;
	width:100%;
}

#searchbartop {
	position:relative ;
	float:left;
	text-align:center;
	width:250px;
	height:50px;
}

#logintop {
	float:left;
	text-align: center;
	width:80px;
	height: 50px;
}

#searchbar {
	margin-top:10px;
	vertical-align: middle;
}

.icon-search {
	position:absolute;
	top:17px;
	right:23px;
}

a#dLabel{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif ;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}


#maincontainer {
	position:relative;
	background-color:#00AA72;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 0px 2px 3px rgba(0,0,0,.25);
}

#sidebar {
	float:left;
	position:relative;
	width: 255px;
	z-index:8;
	height:700px;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	overflow:auto;
}

ul.usersidebar{
	margin:0;
	list-style: none;
}

ul.usersidebar li {
	margin-left:15px;
	padding-top:3px;
	padding-bottom:3px;
}


ul.usersidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #00AA72;
	width:203px;
}
ul.usersidebar h6{
	left:5px;
	margin:0;
	padding:0;
	font-size:11px;
	line-height: 11px;
	color:black;
	font-weight:400;
	width:203px;
}

ul.usersidebar a{
	display:inline-block;
}

ul.groupsidebar{
	margin:0;
	list-style: none;
}

ul.groupsidebar li {
	margin-left:15px;
	padding-top:3px;
}


ul.groupsidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #00AA72;
	width:203px;
}

ul.groupsidebar a{
	display:inline-block;
}



.usersidebarcheck {
	right:15px;
	float:right;
	 -webkit-appearance: none;
	  background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.usersidebarcheck:active, .usersidebarcheck:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.usersidebarcheck:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.usersidebarcheck:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

th{
	padding: 2px 5px 2px 0px;
	text-align:left;
}

#html {
}

#maincontentholder {
	width:705px;
	float:left;
	background-color:#00AA72;
	position:relative;
	z-index:8;
	min-height: 600px;
}
/*
.dropdown-menu {
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position:relative !important;
	display:table !important;
}
*/
#maincontent {

	height:700px;
	margin: 0px 3px 0px 2px;
	width:700px; 
	background-color:white;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	overflow: auto;
}
#content{
	position:relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	/*background-color:#ED0000;*/
	color:black;
	overflow:hidden;
	
	
}
#footer {
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,.25);
	background-color: black;
	position:relative;
	z-index:10;
	height:150px;
}

a {
	font-weight:bold;
}

::-webkit-scrollbar{    width: 13px;
}          



::-webkit-scrollbar-thumb
{
    background-color:#BDBDBD;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#E3E3E3;
}

select {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
}
/* line 1, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
html {
  margin-top: 50px;
}

/* line 8, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.headerlogo {
  background: red;
}

/* line 14, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.headernav {
  background: red;
}

/* line 19, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.headersearch {
  background: red;
}

/* line 24, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.headerlogin {
  background: red;
}

/* line 29, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.settingsdropdown-menu {
  min-width: 80px;
  text-align: center;
  top: 110%;
  left: -3px;
}

/* line 37, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.settingsdropdown {
  height: 30px;
  width: 80px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
  margin-right: 5px;
  float: right;
}

/* line 49, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.dropdown-menu li > a:hover, .settingsdropdown-menu li > a:hover, .dropdown-menu li > a:focus, .settingsdropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background: #00AA72;
}

/* line 53, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
input[type=text]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00aa72;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00aa72;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #00aa72;
}

/* line 59, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
ul.typeahead.dropdown-menu, ul.typeahead.settingsdropdown-menu {
  text-align: left;
}

/* line 63, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
ul.typeahead.dropdown-menu li.active a, ul.typeahead.settingsdropdown-menu li.active a {
  background: #00AA72;
}

/* line 67, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
.accordion-inner {
  padding: 0;
}

/* line 71, ../../app/assets/stylesheets/bootstrap_and_overrides.css.scss */
a.accordion-toggle {
  color: black;
}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
