<% # encoding: utf-8 %>
<!--
<h1>Home#index</h1>
<%= link_to "My Blog", posts_path %>
-->
<p>
	<!--
<% link_to "Users", users_path %>	
<% agent = Mechanize.new
agent.verify_mode = OpenSSL::SSL::VERIFY_NONE
page = agent.get("http://www.testudo.umd.edu/apps/ssched/")
form = page.forms.first
page.forms
%>

</br>
<%
login = form.submit
login.forms %>
<%

nextl = login.forms[0]
nextl.ldapid = 'dshaw'
nextl.ldappass = 'Marryland99' 
nextl = agent.submit(nextl, nextl.buttons.first)
%>
</br>
<%= nextl.parser%>
-->

<%= button_to "scape" , "/home/scape"%>

<%= @doc %>

<!--
login.ldapid = 'dshaw'
login.ldappass = 'Marryland99'
schedule = login.submit
schedule.parser.to_s

<a href="https://www.sis.umd.edu/testudo/studentSched">Log-in</a> 
-->
<%
client = HTTPClient.new

client.set_auth("https://directory.umd.edu/search?student", "dshaw", "Marryland99")

doc = Nokogiri::HTML(client.get_content("https://directory.umd.edu/search?student"))


%>
<% client.set_auth("https://directory.umd.edu/search?student", "dshaw", "Marryland99")
res = client.get_content("https://directory.umd.edu/search?student")
res %>


</p>