/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
*/


html {
	background: #3A4F48;
}

a.settingsbut, a.settingspop {
	display: inline-block;
	color:#3A4F48;
	width:40px;
	height:50px;
	line-height: 50px;
}

a.settingsbut:hover, a.settingspop:hover {
	color:#00AA72;
	text-decoration: none;
}
#sidebar .icon-large {
	text-align: center;
	width:20px !important;
}
i.icon-home.icon-2x {
	font-size: 2.1em;
	width:30px;
	vertical-align: middle;
}


.settingsdropdown a:hover {
	cursor: pointer;
}

.settingsdropdown i{
	margin: 0 5px 0 5px;
}

i.icon-calendar.icon-2x, i.icon-cogs.icon-2x{
	font-size:1.6em;
	width:30px;
	vertical-align: middle;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif;
}

.accordion-heading {
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(white), to(#e6e6e6));
	background-image: -moz-linear-gradient(top, white, #e6e6e6);
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border-bottom:1px solid #00AA72 !important;
	border-radius:3px;
}

.accordion-heading:hover{
	border-radius:3px;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
}

.accordion-heading.active a{
	color:white;
}

.accordion-heading.active {
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
}

.accordion-heading a:hover {
	color:white;
}

.accordion-toggle i{
	text-decoration: none !important;
}
a.accordion-toggle:hover {
	text-decoration: none;
}
a.accordion-toggle h2{
	display:inline;
	font-size: 13px;
	margin: 0 0 0 5px;
	padding: 0;
	line-height: 13px;
}

.accordion-inner a h3{
	color: #3A4F48 !important;
}

.accordion-inner h3:hover, .accordion-inner a:hover{
	text-decoration: none !important;
	color: #00AA72 !important;
}


div {
	display:block;
}

#top {
	position: fixed;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(white), to(#e6e6e6));
	background-image: -moz-linear-gradient(top, white, #e6e6e6);
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	height: 50px;
	z-index:9;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	
}

#logo {
	float:left;
	margin-top: 8px;
	width: 255px;
	height: 34px;
	background: url('testlogo.png') no-repeat;
}

#header_inner {
	margin-left: auto;
	margin-right:auto;
	width: 960px;
	height:50px;
}

#schoolname {
	position:relative;
	width:140px;
	height:48px;
	float:left;
	color:#CC0000;
	text-align: left;
	display:inline-block;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 45px;
	margin-top: 5px;
	display:inline-block;
}

#navcontainer {
	z-index: 1001;
	float:left;
	position:relative;
	width:140px;
	height:50px;
	left:5px;
	text-align: center;
}

#navcontainer ul{
	position:relative;
	margin: 5px 0 0 0;
	margin-top:5px;
	width:140px;
	list-style: none;
	text-align:center;
	height:45px;
}

#navcontainer ul li{
	display:inline-block;
	padding: 0 5px 0 5px;
	line-height: 45px;
}

#navcontainer ul li a{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif;
	color: #3A4F48;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

#navcontainer ul li.active {
	background: #00AA72;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,1);
}


#navcontainer ul li.active a{
	color:  white;
}

#navcontainer ul li a:hover {
	color:#3A4F48;
	cursor: pointer;
}

#navcontainer ul li.active a:hover{
	color:white;
	cursor: pointer;

}

#navcontainer ul li.active:hover{
	color:white;
	background: #00AA72;
	cursor: pointer;

}

#navcontainer ul li:hover {
	color:#3A4F48;
	background: rgba(0,170,114,.1);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}



#navcontainer li a { 
	margin:0px;
	display:block;
	height:100%;
	width:100%;
}

#searchbartop {
	position:relative;
	float:left;
	text-align:center;
	width:330px;
	margin-left:20px;
	height:50px;
}

#logintop {
	position:relative;
	float:left;
	text-align: right;
	width:200px;
	margin-right: 20px;
	height:50px;
}


#searchbar {
	float:left;
	margin-top:10px;
	vertical-align: middle;
	width:175px;
	-webkit-transition-duration: 400ms;
-webkit-transition-property: width;
-webkit-transition-timing-function: ease;
-moz-transition-duration: 400ms;
-moz-transition-property: width;
-moz-transition-timing-function: ease;
-o-transition-duration: 400ms;
-o-transition-property: width;
-o-transition-timing-function: ease;
}

#searchbar:focus {
	width:300px;
	-webkit-transition-duration: 400ms;
-webkit-transition-property: width;
-webkit-transition-timing-function: ease;
-moz-transition-duration: 400ms;
-moz-transition-property: width;
-moz-transition-timing-function: ease;
-o-transition-duration: 400ms;
-o-transition-property: width;
-o-transition-timing-function: ease;
}

.icon-search {
	float:left;
	top:17px;
	right:0px;
}

a#dLabel{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif;
	color: #3A4F48;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}
a#dLabel:hover{
	color:#00AA72;
}

#maincontainer {
	position:relative;
	background-color:#00AA72;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 0px 2px 3px rgba(0,0,0,.25);
}

#sidebar {
	float:left;
	position:relative;
	width: 200px;
	z-index:8;
	height:700px;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(white), to(#e6e6e6));
	background-image: -moz-linear-gradient(top, white, #e6e6e6);
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	overflow:auto;

	text-overflow: ellipsis !important;
}

ul.usersidebar{
	margin:0;
	list-style: none;
}

ul.usersidebar li {
	padding-left:2em;
	padding-top:3px;
	padding-bottom:3px;
	max-height: 33px;
	border-bottom: 2px solid black;
}


ul.usersidebar h3 {
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #3A4F48;
	width:120px;
}

ul.displaysidebar h3, ul.functionsidebar h3, ul.displaysidebar h3, ul.functionsidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #3A4F48;
	width:203px;
}
ul.usersidebar h6{
	left:5px;
	margin:0;
	padding:0;
	font-size:11px;
	line-height: 11px;
	color:#3A4F48;
	font-weight:400;
	width:150px;
}

ul.usersidebar a{
	display:inline-block;
}

ul.groupsidebar, ul.hqsidebar, ul.displaysidebar, ul.functionsidebar{
	margin:0;
	list-style: none;
}

ul.groupsidebar li, ul.hqsidebar li {
	padding-left:2em;
	padding-top:3px;
	padding-bottom:3px;
	max-height: 33px;
	border-bottom: 2px solid black;
}

ul.displaysidebar li, ul.functionsidebar li {
	padding-left:1em;
	padding-top:3px;
	padding-bottom:3px;
	max-height: 33px;
	border-bottom: 1px solid black;
}


ul.groupsidebar h3, ul.hqsidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #00AA72;
	width:155px;
}

ul.groupsidebar a, ul.hqsidebar a, ul.displaysidebar a, ul.functionidebar a{
	display:inline-block;
}



.usersidebarcheck {
	
	bottom:15px;
	float:right;
	 -webkit-appearance: none;
	  background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.usersidebarcheck:active, .usersidebarcheck:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.usersidebarcheck:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.usersidebarcheck:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

th{
	padding: 2px 5px 2px 0px;
	text-align:left;
}

#html {
}

#maincontentholder {
	width:760px;
	float:left;
	background-color:#00AA72;
	position:relative;
	z-index:8;
	min-height: 600px;
}
/*
.dropdown-menu {
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position:relative !important;
	display:table !important;
}
*/
#maincontent {

	height:700px;
	margin: 0px 3px 0px 2px;
	width:755px; 
	background-color:white;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	overflow: auto;
}
#content{
	position:relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	/*background-color:#ED0000;*/
	color:#3A4F48;
	overflow:hidden;
	
	
}
#footer {
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,.25);
	background-color: #3A4F48;
	position:relative;
	z-index:10;
	min-height: 100px;
	clear:both;
}

a {
	font-weight:bold;
}

::-webkit-scrollbar{    width: 13px;
}          



::-webkit-scrollbar-thumb
{
    background-color:#BDBDBD;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#E3E3E3;
}

select {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
}

#userimage {
	display:inline-block;
	vertical-align: top;
	line-height: 50px;
	max-width: 40px;
	margin-right: 10px;
}

#userimage img {
	vertical-align: middle;
	border-radius:3px;
	min-height: 30px;
	max-width:35px;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
}

#username {
	display: inline-block;
	position:relative;
	height:50px;
	text-align:right;
	color:#3A4F48;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	margin-top:5px;
	line-height: 45px;
	display:inline-block;
}

#username span {
	display: inline-block;
	max-width:150px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
}

a#loginlink {
	width:190px !important;
	height:45px !important;
	text-decoration: none;
}

#loginlink:hover span{
	color: #00AA72;
}

ul#setdropdown {
	list-style: none;
	margin:0;
	width:auto;
	text-decoration: none;
}

ul#setdropdown li {
	padding-left:20px;
	padding-bottom: 2px;
	padding-top: 2px;
}

ul#setdropdown li:hover {
	background: #00AA72;
	border-radius: 3px;
}

ul#setdropdown a {
	color:#3A4F48;
	font-weight: normal;
	text-decoration: none;
}

ul#setdropdown a:hover {
	color:white;
}

.popover-content {
	width:160px;
	margin:0 !important ;
	padding:0 !important;
}

ul#setdropdown li#setmenudivide {
	width:150px;
	margin: 2px 0 2px 5px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	height: 1px;
	background: #DEDEDE;
}

#signupcontentholder {
	width:960px;
	position:relative;
	z-index:8;
	min-height: 600px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
}
/*
.dropdown-menu {
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position:relative !important;
	display:table !important;
}
*/
#signupinfo {
	float:left;
	width:610px; 
	height:600px;
	
}

#signup {
	border-left: 2px solid #00AA72;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(white), to(#e6e6e6));
	background-image: -moz-linear-gradient(top, white, #e6e6e6);
	background-image: linear-gradient(to bottom, white, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	width:348px;
	height:600px;
	float:left;
	overflow:auto;
}

#signupparameters {
	width:310px;
	height:510px;
	position: relative;
	margin: 50px 40px 10px 31px;
}

#signupparameters input[type=password],#signupparameters input[type=email] {
	width:270px;
	height:35px;
	font-size: 18px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

#signupterms {
	width:285px;
	font-size:11px;
	margin-bottom: 10px;
}

#signupnames {
	width:285px;
}

input#user_firstname {
	margin-right: 1px;
}

#signupparameters a:hover{
	cursor: pointer;
}

#signupparameters input[type=text] {
	width:125px;
	height:35px;
	font-size: 18px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

#signupparameters h1 {
	color: black;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif !important;
}

input.signupsubmit {
	width:285px !important;
	height:40px;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
	border-radius: 4px;
	border:none;
	color:white;
	font-weight: bold;
	font-size: 18px;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
}

#infomain {
	width:510px;
	height:200px;
	margin: 50px 20px 10px 50px;
}

#infomain p {
	font-size: 55px;
	font-weight: normal;
	line-height: 55px;
	color: black;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, clean, sans-serif !important;
}

#infomain span {
	font-size:20px;
	line-height: 20px;
	color: #00AA72;
}

#infodetails {
	width:510px;
	height:220px;
	margin: 30px 20px 10px 50px;
}

#infodetails p {
	font-size:10px;
}

table#infodeetstable {
	width:510px;
	height:220px;
}

table#infodeetstable tr{
	width:510px;
	height:110px;
}

table#infodeetstable td{
	width:255px;
	height:110px;
}

table#infodeetstable td i{
	text-align: left;
	color:#00AA72;
	margin: 0 5px 0 5px;
}

table#infodeetstable td span{
	text-align: left;
	font-weight: bold;

	margin: 0 5px 0 5px;
}

#infodivider {
	margin-top:70px;
	width:550px;
	margin-left: 25px;
	border:1px solid #CCCCCC;
}

#signinholder {
	float:right;
	margin-top: 2px;
	width:400px;
	height:50px;

}

#signin {
	height:30px;
}

input#user_email {
	width:150px;
	height:20px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
input#user_password {
	width:150px;
	height:20px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.signinsubmit {
	vertical-align: top;
	margin-top:0px;
	width:50px !important;
	height:30px;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
	border-radius: 4px;
	border:none;
	color:white;
	font-weight: bold;
	font-size: 14px;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
}

input[type=submit]:hover {
	background-image: -webkit-linear-gradient(top, #00AA72, #00875B);
	background-image: -moz-linear-gradient(top, #00AA72 #00875B);
	background-image: linear-gradient(top, #00AA72, #00875B);

	background-image: -webkit-linear-gradient(top, #00AA72, #00875B);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00AA72), to(#00875B));
	background-image: -moz-linear-gradient(top, #00AA72, #00875B);
	background-image: linear-gradient(to bottom, #00AA72, #00875B);
	background-image: -o-linear-gradient(top, #00AA72,#00875B);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AA72', endColorstr='#00875B', GradientType=0);
}

#signinremember {
	margin:0;
	padding:0;
	top:-10px;
	height: 20px;
	width:400px;
}

input#user_remember_me.signincheck {
	position: absolute;
	bottom:1px !important;
}

#signinrest {
	position: absolute;
	margin-left: 17px;
}

.signincheck {
	margin: 0 !important;
	margin-left: 10px;
	max-height: 3px;
	max-width: 3px;
	-webkit-appearance: none;
	  background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
}

.signincheck:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.signincheck:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.signincheck:checked:after {
    content: "\2714";
    top:-1px;
    left:2px;
    position: absolute;
    font-size: 10px;
    color: #99a1a7;
}

#signinremember label{
	display: inline;
	font-size: 12px;
	line-height: 12px;
}

#signinremember a {
	margin-left: 42px;
}

#articles {
	position: absolute;
	bottom:0;
	width:285px;
	text-align: left;
}

#rdloginholder {
	width:400px;
	margin: 0 280px 0 280px;
	padding-top:50px;
	height: 550px;
}

#rdlogin {
	border-radius: 3px;
	border: 1px solid #00AA72;
	width:400px;
	height:300px;
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
}

#rdlogh1 {
	width:400px;
	height:50px;
	margin: 0;
	padding: 0;
	background: #00AA72;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
	border-radius: 3px;
	text-align: left;
	line-height: 50px;
}

#rdlogh1 h1{
	color: white;
	font-size: 20px;
	margin: 0 0 0 20px;
}

#rdfields {
	width:360px;
	height:300px;
	margin: 10px 20px 0 20px;
}

#rdfields #email, #rdfields #pw {
	width:350px;
	margin-top: 10px;
}

#flash_alert {
	color:red;
	font-size: 13px;
	font-weight: bold;
}

#cb {
	position: relative;
	margin: 0 !important;
	margin-left: 10px;
	max-height: 3px;
	max-width: 3px;
	-webkit-appearance: none;
	  background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
}

#rdfields label,#rdlines label {
	display:inline-block;
	position: relative;
	bottom:0;
	padding: 0;
	line-height: 14px;
	margin-left: 5px;
}

#rdlines {
	vertical-align: bottom;
	margin-top:10px;
}

#rdfields a, #rdlines a {
	float:right;
	font-size: 13px;
}

#cb:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
#cb:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

#cb:checked:after {
    content: "\2714";
    top:-1px;
    left:2px;
    position: absolute;
    font-size: 10px;
    color: #99a1a7;
}

.rdsubmit {
	vertical-align: top;
	width:60px !important;
	height:30px;
	background-image: -webkit-linear-gradient(top, #00E69A, #00AA72);
	background-image: -webkit-gradient(linear,0 0 ,0 100%, from(#00E69A), to(#00AA72));
	background-image: -moz-linear-gradient(top, #00E69A, #00AA72);
	background-image: linear-gradient(to bottom, #00E69A, #00AA72);
	background-image: -o-linear-gradient(top, #00E69A, #00AA72);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00E69A', endColorstr='#00AA72', GradientType=0);
	border-radius: 3px;
	border:none;
	color:white;
	font-weight: bold;
	font-size: 14px;
}

#modallog input {
	margin-top: 10px;
	width:355px;
}

.modal.fade.in {
	top:15%;
}

.modal {
	width:400px !important;
	margin-left: -190px !important;
}

#flash {
	color:red;	
	font-weight: bold;
	margin-bottom: 10px;
}

#canvastop {
	border-bottom: 2px solid #00AA72;
}

#canvasgroup {
	display: inline-block;
}


#canvasgroup h1 {
	color: #3a87ad;
	margin-left: 20px;
}

#canvasuser {
	display: inline-block;
}

#canvasuser h3 {
	margin-right:20px;
	vertical-align: bottom;
}

input[type="radio"].groupsidebarradio {
	right: 20px;
	position:absolute;
}


#freeTimeModal select, #freeTimeModal textarea {
	width:70px;
}

#avalTime {
	width:148px;
}

#avalTime h3 {
	width:148px;
}

.btn.display, .btn.display h3 {
	width:148px;
}

.btn.active h3 {
	color: #00AA72 !important;
}

#userscroll {
	display: inline-block;
	float:right;
	margin-right:20px;
}

#scrollbuttons {
	display: inline-block;
	padding:0;
	margin-bottom: 20px;
}

#scrollbuttons span{
	bottom: 5px;
}

#calendar {
	margin-top: 20px;
}

.external-event { /* try to mimick the look of a real event */
		margin: 5px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		text-align: center;
		font-size: .85em;
		cursor: pointer;
		border: 1px solid #3a87ad;
		background-color: #3a87ad;
		border-radius: 3px;
		width:164px;
		height:20px;
		}

#eventmodal {
	z-index: 2000;
	margin-top:0 !important;
	margin-left:0 !important;
}

#eventmodal.modal.fade.in {
	top: 0;
}

#eventtime {
	display:inline-block;
}