/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


* {
	margin: 0;
	padding: 0;
}

div {
	display:block;
}

#top {
	position: fixed;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	height: 50px;
	z-index:9;
	top: 0;
	right:0;
	left:0;
	bottom:0;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	
}

#logo {
	float:left;
	margin-top: 8px;
	width: 255px;
	height: 34px;
	background: url('testlogo.png') no-repeat;
}

#header_inner {
	margin-left: auto;
	margin-right:auto;
	width: 960px;
	height:50px;
}

#schoolname {
	position:relative;
	width:140px;
	height:48px;
	float:left;
	color:#CC0000;
	text-align: left;
	display:inline-block;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	line-height: 45px;
	margin-top: 5px;
	display:inline-block;
}

#navcontainer {
	z-index: 1001;
	float:left;
	position:relative;
	width:140px;
	height:50px;
	left:5px;
	text-align: center;
}

#navcontainer ul{
	position:relative;
	margin: 5px 0 0 0;
	margin-top:5px;
	width:140px;
	list-style: none;
	text-align:center;
	height:45px;
}

#navcontainer ul li{
	display:inline-block;
	padding: 0 5px 0 5px;
	line-height: 45px;
}

#navcontainer ul li a{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

#navcontainer ul li.active {
	background: #00AA72;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,1);
}


#navcontainer ul li.active a{
	color:  white;
}

#navcontainer ul li a:hover {
	color:black;
	cursor: pointer;
}

#navcontainer ul li.active a:hover{
	color:white;
	cursor: pointer;

}

#navcontainer ul li.active:hover{
	color:white;
	background: #00AA72;
	cursor: pointer;

}

#navcontainer ul li:hover {
	color:black;
	background: rgba(0,170,114,.1);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}



#navcontainer li a { 
	margin:0px;
	display:block;
	height:100%;
	width:100%;
}

#searchbartop {
	position:relative;
	float:left;
	text-align:center;
	width:195px;
	margin-left:20px;
	height:50px;
}

#logintop {
	float:left;
	text-align: center;
	width:175px;
	height:50px;
}


#searchbar {
	margin-top:10px;
	vertical-align: middle;
	padding-right:19px;
	width:173px;
}

.icon-search {
	position:absolute;
	top:17px;
	right:0px;
}

a#dLabel{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif ;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}


#maincontainer {
	position:relative;
	background-color:#00AA72;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 0px 2px 3px rgba(0,0,0,.25);
}

#sidebar {
	float:left;
	position:relative;
	width: 255px;
	z-index:8;
	height:700px;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6);
	overflow:auto;
}

ul.usersidebar{
	margin:0;
	list-style: none;
}

ul.usersidebar li {
	margin-left:15px;
	padding-top:3px;
	padding-bottom:3px;
}


ul.usersidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #00AA72;
	width:203px;
}
ul.usersidebar h6{
	left:5px;
	margin:0;
	padding:0;
	font-size:11px;
	line-height: 11px;
	color:black;
	font-weight:400;
	width:203px;
}

ul.usersidebar a{
	display:inline-block;
}

ul.groupsidebar{
	margin:0;
	list-style: none;
}

ul.groupsidebar li {
	margin-left:15px;
	padding-top:3px;
}


ul.groupsidebar h3{
	left:5px;
	margin:0;
	padding:0;
	font-size:13px;
	line-height: 13px;
	color: #00AA72;
	width:203px;
}

ul.groupsidebar a{
	display:inline-block;
}



.usersidebarcheck {
	right:15px;
	float:right;
	 -webkit-appearance: none;
	  background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.usersidebarcheck:active, .usersidebarcheck:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
 
.usersidebarcheck:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.usersidebarcheck:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

th{
	padding: 2px 5px 2px 0px;
	text-align:left;
}

#html {
}

#maincontentholder {
	width:705px;
	float:left;
	background-color:#00AA72;
	position:relative;
	z-index:8;
	min-height: 600px;
}
/*
.dropdown-menu {
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position:relative !important;
	display:table !important;
}
*/
#maincontent {

	height:700px;
	margin: 0px 3px 0px 2px;
	width:700px; 
	background-color:white;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	overflow: auto;
}
#content{
	position:relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	/*background-color:#ED0000;*/
	color:black;
	overflow:hidden;
	
	
}
#footer {
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,.25);
	background-color: black;
	position:relative;
	z-index:10;
	height:150px;
}

a {
	font-weight:bold;
}

::-webkit-scrollbar{    width: 13px;
}          



::-webkit-scrollbar-thumb
{
    background-color:#BDBDBD;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#E3E3E3;
}

select {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,170,114, 1) !important;
}

#username {
	position:relative;
	width:150px;
	height:50px;
	text-align:right;
	color:black;
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	margin-top:5px;
	line-height: 45px;
	display:inline-block;
}

#username span {
	display: inline-block;
	max-width:150px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
}


