/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
* {
	margin: 0;
	padding: 0;
}

div {
	display:block;
}

#top {
	position: relative;
	background: white;
	height: 50px;
	z-index:9;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,.25);
	
}

#logo {
	float:left;
	margin-top: 8px;
	width: 255px;
	height: 34px;
	background: url('testlogo.png') no-repeat;
}

#header_inner {
	margin-left: auto;
	margin-right:auto;
	width: 960px;
	height:50px;
}

#navcontainer {
	z-index: 1001;
	float:left;
	position:relative;
	width:275px;
	height:50px;
	text-align: center;
}

#navcontainer ul{
	margin-top:5px;
	list-style: none;
	height:45px;
}

#navcontainer ul li{
	display:inline-block;
	padding: 0 10px 0 10px;
	line-height: 45px;
}

#navcontainer ul li a{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

#navcontainer ul li.active {
	background: #ED0000;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}


#navcontainer ul li.active a{
	color:  white;
}

#navcontainer ul li a:hover {
	color:black;
	background: rgba(237,0,0,0);
	cursor: pointer;
}

#navcontainer ul li.active a:hover{
	color:white;
	background: #ED0000;
	cursor: pointer;

}

#navcontainer ul li.active:hover{
	color:white;
	background: #ED0000;
	cursor: pointer;

}

#navcontainer ul li:hover {
	color:black;
	background: rgba(237,0,0,.1);
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}



#navcontainer li a { 
	margin:0px;
	display:block;
	height:100%;
	width:100%;
}

#searchbartop {
	position:relative ;
	float:left;
	text-align:center;
	width:350px;
	height:50px;
}

#logintop {
	float:left;
	text-align: center;
	width:80px;
	height: 50px;
}

#searchbar {
	margin-top:10px;
	vertical-align: middle;
}

a#dLabel{
	font-family: 'Helvetica Neue', Arial, Helvetica, FreeSans, sans-serif ;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

#maincontainer {
	position:relative;
	background-color:#ED0000;
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 0px 2px 3px rgba(0,0,0,.25);
}

#sidebar {
	float:left;
	position:relative;
	width: 200px;
	z-index:8;
	min-height: 600px;
	background-image: -webkit-linear-gradient(top, white, #e6e6e6)
}

#html {
	overflow-y:scroll;
}

#maincontentholder {
	width:760px;
	float:left;
	background-color:#ED0000;
	position:relative;
	z-index:8;
	min-height: 600px;
}
/*
.dropdown-menu {
	float:none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position:relative !important;
	display:table !important;
}
*/
#maincontent {

	margin: 3px 3px 0px 3px;
	width:804px; 
	background-color:white;
	min-height: 597px;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,.25);
	box-shadow: 2px 2px 3px rgba(0,0,0,.25);

}
#content{
	position:relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	/*background-color:#ED0000;*/
	color:white;
	overflow:hidden;
	
	
}
#footer {
	-webkit-box-shadow: 0px -2px 3px rgba(0,0,0,.25);
	background-color: black;
	position:relative;
	z-index:10;
	height:200px;
}