<!DOCTYPE html>
<html>
<head>
  <title>schedquarters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "top">
	<div id = "header_inner">
		<a href = "/"><div id = "logo"></div></a>
		<div id = "navcontainer">
			<ul id = "nav">
				<li ><a href = "/">Home</a></li>
				<li class = "active"><a href = "/users/">Groups</a></li>
				<li ><a>My Profile</a></li>
			</ul>
	</div>
	</div>
</div>
<div id = "maincontainer">
	<div id = "content">
		<%= yield %>
	</div>
</div>
<div id = "footer">
</div>
</body>
</html>
