<!DOCTYPE html>
<html>
<head>
  <title>schedquarters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "container">
	<div class="headerbar">
		<div class = "headerlogo">lol</div>
		<div class = "headernav">lol</div>
		<div class = "headersearch">lol</div>
		<div class = "headerlogin">lol</div>
	</div>
</div>
		<%= yield %>

</body>
</html>
